@import '~csstyle/csstyle';
@import '~bootstrap/scss/bootstrap.scss';

@include component(btn) {
    margin: 0.5em 2em;
    display: inline-block;
    position: relative;
    padding: .5em 1em;
    color: #ffffff;
    background-color: #1f1f1f;
    transition: background-color .2s;

    &:hover {
        background-color: lighten(#1f1f1f, 10%);
        color: #ffffff;
    }
}

.App {
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

