@import '~csstyle/csstyle';
@import '~bootstrap/scss/bootstrap.scss';

.appContainer {
  background-color: #202020;
  color: white;
  margin: 0 10em;
  padding: 0 2em;
}

.app {
  background-color: #202020;
  color: white;
}

.header {
  text-align: 'center';
  margin: "1em 0";
  font-size: 20;
  font-weight: "bold";
}

.nav {
  color: #ffffffff;
  &:hover {
    color: #ffffffec;
  }
}

.activeNav {
  font-weight: bold;
}