@import '~csstyle/csstyle';
@import '~bootstrap/scss/bootstrap.scss';

.bg-darkish {
  background-color: #202020;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.appContainer {
  @extend .bg-darkish;
  color: white;
  margin: 0 10em;
  padding: 0 2em;
}

.app {
  @extend .bg-darkish;
  color: white;
}

.header {
  text-align: 'center';
  margin: "1em 0";
  font-size: 20;
  font-weight: "bold";
}

.nav {
  color: #ffffffff;
  &:hover {
    color: #ffffffec;
  }
}

.activeNav {
  font-weight: bold;
}

$out-of-range-bg-color: darken(#343a40, 10%);
$calendar-border: darken(#000, 10%);
$cell-border: #000;
$today-highlight-bg: lighten(#343a40, 25%);

$time-selection-bg-color: #343a40;

$event-bg: #FFF;
$event-border: lighten(#000, 10%);
$event-color: #000;

$btn-border: rgb(0, 0, 0);
$btn-bg: lighten(#343a40, 15%);
$btn-color: #FFF;

.rbc-day-bg {
  background: #343a40;
}

.rbc-toolbar-label {
  font-weight: bold;
}

.input-group-text {
  border: none;
  background: #343a40;
  color: rgb(131, 131, 131);
}

@import 'react-big-calendar/lib/sass/styles';
