@import '~csstyle/csstyle';

@include component(btn) {
    display: inline-block;
    position: relative;
    padding: .5em 1em;
    color: #ffffff;
    background-color: #1f1f1f;
    transition: background-color .2s;

    &:hover {
        background-color: lighten(#1f1f1f, 10%);
    }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

